@use '@angular/material' as mat;
@use '../palette' as palette;

$personal-website-light-primary: mat.define-palette(palette.$primary-palette, A400, A200, A700);
$personal-website-light-accent: mat.define-palette(palette.$accent-palette, 300, 200, 400);
$personal-website-light-warn: mat.define-palette(palette.$warn-palette);

$personal-website-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $personal-website-light-primary,
      accent: $personal-website-light-accent,
      warn: $personal-website-light-warn
    )
  )
);

@include mat.core-theme($personal-website-light-theme);

@include mat.progress-bar-theme($personal-website-light-theme);
@include mat.toolbar-theme($personal-website-light-theme);
@include mat.menu-theme($personal-website-light-theme);

@include mat.card-theme($personal-website-light-theme);
@include mat.chips-theme($personal-website-light-theme);
@include mat.button-theme($personal-website-light-theme);
@include mat.icon-theme($personal-website-light-theme);
@include mat.tooltip-theme($personal-website-light-theme);
@include mat.divider-theme($personal-website-light-theme);

@include mat.snack-bar-theme($personal-website-light-theme);

// @include mat.all-component-themes($personal-website-light-theme);
