footer {
  z-index: 10;
}

:host-context(.custom-about-footer) .custom-footer {
  &,
  a,
  div {
    border-style: dashed;
    border-color: #00c710;
  }

  a,
  p {
    color: #00c710;
  }

  *,
  g {
    stroke: #00c710 !important;
    fill: #d22630 !important;
  }

  mat-icon svg g {
    stroke: #00c710 !important;
  }
}
